#title {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 1100; /* Make sure it is above the sidebar */
}

.background-img {
    background: linear-gradient(300deg, #b700ff, #ff7f4c, #edef72);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }

#title .container-fluid{
    background-color: rgba(255, 255, 255, 0.3);
    font-weight: bold;
}

#side {
    position: fixed; 
    top: 4rem;          
    left: 0;        
    height: calc(100vh - 4rem); 
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    background-color: #72b7ef;
    width:4.8rem;
    z-index: 1000; 
}

#side .nav-item {
    height: calc((100vh - 4rem) / 3); /* Divide the height into thirds */
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 4.8rem;
    min-height: 12rem;
    background-color: #efce72;
    transition: background-color 0.3s ease; /* Smooth background changes */
}

#side .nav-item.active-item {
    background-color: #ffc107; 
}

#side .nav-link {
    transform: rotate(-90deg); /* Rotate 90 degrees counterclockwise */
    transform-origin: center center; /* Set the rotation base point */
    white-space: nowrap; 
    font-size: 24px; 
    width: auto; 
    height: auto; 
    color:black;
}

.side-nav {
    width: 200px;
    background-color: #f8f9fa;
    border-right: 1px solid #ddd;
}
    
.main-layout {
    display: flex;
    margin-top: 3rem;   
}

.card {
    border: 1px solid #ddd;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column; 
    margin-left: 3rem;
    height: auto; 
    width: 100%; 
}

.card .bird-image {
    object-fit: cover;       
    width: 100%;             
    max-height: 75%;             
    object-position: center top;  
}

.card-body {
    flex-grow: 1; 
    padding: 1rem;
}

.card-body a {
    text-align: center;
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 10px; 
    border: 2px solid #ffc107;
    color: #ffc107;
    text-decoration: none;
    transition: all 0.3s ease;
  }

.logo{
    background-color: #ffc107;
    width: 50px; 
    border-radius: 8px;
}


 .favorite-btn {
    position: absolute;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  
  .heart-icon {
    fill: none; 
    stroke: gray; 
    transition: fill 0.3s ease, stroke 0.3s ease;
  }
  
  .favorite-btn.active .heart-icon {
    fill: red; 
    stroke: red; 
  }
  
  
  
@media (min-width: 1024px) {
    .col-md-5 {
        flex: 0 0 40%;           
        max-width: 40%;
        height: auto; 
    }

    .col-md-7 {
        flex: 0 0 60%;          
        max-width: 60%;
    }
}


@media (max-width: 1023px) {
    .col {
        flex: 0 0 100%;          
        max-width: 100%;
    }

    .col-md-5 {
        flex: 0 0 100%;           
        max-width: 100%;
        height: 70%;
    }
}
