
#fullScreen{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    margin: 0;
    background-color: bisque;
}

#mapCanvas{
    flex: 1;
    height: 100%;
    background-color: aqua;
}

#infoPanel{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    height: 100%;
    width: 25%;
    background-color: bisque;
    overflow-y: auto;
}

/* #searchForm{
    
} */

#searchBar{
    padding-top: 20px;
    justify-content: center;
}

#searchButton{
    border-radius: 10px;
    border: 1px solid #ccc;
}

#searchInput{
    border-radius: 10px;
    border: 1px solid #ccc;
}

#dataTable tbody tr:hover {
    background-color: #ddd;
}

table{
    width: 100%;
    border-collapse: collapse;
}

th, td{
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even){
    background-color: #ff7f4c;
}

tr.selected{
    background-color: #edef72;
}

.translucent-box {
    position: absolute;
    top: 10%;
    right: 2%;
    width: 300px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.8); /* White with 80% opacity */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    z-index: 1000; /* Ensures it stays above other elements */
}