#title {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 1100; /* Make sure it is above the sidebar */
}

.background-img {
    background: linear-gradient(300deg, #b700ff, #ff7f4c, #edef72);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }

#title .container-fluid{
    background-color: rgba(255, 255, 255, 0.3);
    font-weight: bold;
}

#side {
    position: fixed; 
    top: 4rem;          
    left: 0;        
    height: calc(100vh - 4rem); 
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    background-color: #72b7ef;
    width:4.8rem;
    z-index: 1000; 
}

#side .nav-item {
    height: calc((100vh - 4rem) / 3); /* Divide the height into thirds */
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 4.8rem;
    min-height: 12rem;
    background-color: #efce72;
    transition: background-color 0.3s ease; /* Smooth background changes */
}

#side .nav-link {
    transform: rotate(-90deg); /* Rotate 90 degrees counterclockwise */
    transform-origin: center center; /* Set the rotation base point */
    white-space: nowrap; 
    font-size: 24px; 
    width: auto; 
    height: auto; 
    color:black;
}

#side .nav-item.active-item {
    background-color: #ffc107; 
    font-weight: bold;
}

.side-nav {
    width: 200px;
    background-color: #f8f9fa;
    border-right: 1px solid #ddd;
}
    
.main-layout {
    display: flex;
    margin-top: 4rem;
}

.main-content {
margin-left: 4.8rem; 
margin-top: 0.8rem; 
flex-grow: 1;
height: calc(100vh - 4.8rem);
}

.category-info {
    position: relative; 
    width: 100%;
    height: 100%; 
    overflow: hidden; /* Prevent image overflow */
}

.category-info img {
    position: absolute; 
    top: 0;
    left: 0;
    border-radius: 15px;
    width: 100%; 
    height: 100%; 
    object-fit: cover; /* Make sure the image fills the space proportionally */
    object-position: center ; 
    z-index: -1; /* Place image behind text */
}

.category-info {
    position: relative;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 100%; 
    width: 100%; 
}

.category-info h2 {
    font-size: 50px;
    color: rgba(255, 255, 255, 1);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
    text-align: center;
    padding-bottom: 0.5rem; 
    z-index: 1;
}

.category-info p {
    font-size: 24px;
    color: rgba(255, 255, 255, 1);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
    text-align: center;
    z-index: 1;
}

.bird-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top:20px;
    gap: 20px;
}

.bird-card {
    max-height: calc(100vh/4*3);
    border: 1px solid #ddd;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column; 
    margin:5px;
}

.bird-card img {
    width: 100%;
    height: 75%;
    object-fit: cover; 
    border-bottom: 1px solid #ddd; /* Dividing Line */
}

.bird-card .content {
    height: 25%; 
    display: flex;
    flex-direction: column; /* Content is arranged vertically */
    justify-content: center; 
    align-items: center;
    padding: 10px;
}

.bird-card h5 {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 5px 0;
}

.bird-card a {
    text-align: center;
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 10px; 
    border: 2px solid #ffc107;
    color: #ffc107;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .bird-card a:hover {
    background-color: #ffc107;
    color: #fff;
  }
  
@media (max-width: 1024px) {
    .bird-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 cards per row on medium screens */
    }
}

@media (max-width: 768px) {
    .bird-grid {
        grid-template-columns: 1fr; /* On small screens, 1 card per row */
    }
}
  
